.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.App-link {
  color: #61dafb;
}

a {
  color: #3b414e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: #506083;
}

.UrlShortener {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px;
  width: 100%;
}

.UrlShortener form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.UrlShortener .urlToShortenTextInput {
  width: 75%;
}

.ShortenedUrls {
  width: 100%;
}

.ShortenedUrls-Table {
  width: 100%;
  border-collapse: collapse;
}

.ShortenedUrls-Table thead {
  background-color: #2399e7;
  color: #fff;
}

.ShortenedUrls-Table th, .ShortenedUrls-Table td {
  padding-left: 20px;
  padding-right: 20px;
  overflow-wrap: anywhere;
}

.ShortenedUrls-Table tbody tr:nth-of-type(even) {
  background-color: #d6efff;
}

.ShortenedUrls-Table td:nth-child(1) {
  text-align: left;
}

.ShortenedUrls-Table td:nth-child(2) {
  text-align: left;
}
